<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kripto Apps</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
  </head>
  <body>

    <div class="container">
      <div class="row card text-center">
        <h1>Rot 13</h1>
      </div>
      <div class="row card p-4">
        <fieldset class="form-group">
          <label for="decTextArea">Plain text</label>
          <textarea class="form-control" id="decTextArea" rows="3"></textarea>
        </fieldset>
        <div class="text-center">
          <img src="images/arrow.png" height="50px" width="50px" alt="">
        </div>
        <fieldset class="form-group">
          <label for="encTextArea">Cipher Text</label>
          <textarea class="form-control" id="encTextArea" rows="3"></textarea>
        </fieldset>
      </div>
    </div>

    <script src="/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
