<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kripto Apps | Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
  </head>
  <body>

    <div class="container">
      <div class="row card text-center">
        <h1>Login</h1>
      </div>
      <div class="row card p-4">
        <form>
          <fieldset class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control" id="username" placeholder="Enter username">
          </fieldset>
          <fieldset class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </fieldset>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>

    <script src="/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
