extends layout

block content
  .container
    .row.card.text-center
      h1 Register
    .row.card.p-4
      form(action='/register' method='POST')#register-form
        fieldset.form-group
          label(for='username') Username
          input#username.form-control(type='text' name="username" placeholder='Enter username' required)
        fieldset.form-group
          label(for='password') Password
          input#password.form-control(type='password' name="password" placeholder='Enter Password' required)
        button.btn.btn-primary(type='submit') Register
      br
      a(href='/login') Back to Login.
